@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl900.eot'); /* IE9 Compat Modes */
    src: url('../fonts/MuseoSansCyrl900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/MuseoSansCyrl900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/MuseoSansCyrl900.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/MuseoSansCyrl900.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/MuseoSansCyrl900.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 900;
  }
  @font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl300.eot'); /* IE9 Compat Modes */
    src: url('../fonts/MuseoSansCyrl300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/MuseoSansCyrl300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/MuseoSansCyrl300.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/MuseoSansCyrl300.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/MuseoSansCyrl300.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 300;
  }

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl100.eot'); /* IE9 Compat Modes */
    src: url('../fonts/MuseoSansCyrl100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/MuseoSansCyrl100.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/MuseoSansCyrl100.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/MuseoSansCyrl100.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/MuseoSansCyrl100.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 100;
  }
  
  /* specifications */
  
html {
     box-sizing: border-box;
     font-size: 62.5%;
}

*,
*:before,
*:after {
     box-sizing: inherit;
     margin: 0;
     padding: 0;
}
body {
     font-family: 'Museo Sans Cyrl', Helvetica, sans-serif;
     letter-spacing: 0.1rem;
}
.white {
     color: white;
}
.container {
     margin: 0 auto;
     max-width: 1230px;
     padding-left: 10px;
     padding-right: 10px;
}
/* ...........Mobile screen styles ...........*/
/* FIRST SECTION */


.first {
     background: url(../img/background.png) no-repeat center top / cover;
     font-weight: 900;
     text-transform: uppercase;
     height: 100vh;
}
.navigation {
     background: rgba(0, 0, 0, 0.25);
}
.logo__img {
     display: block;
}
/* menu */
.menu__list {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     position: absolute;
     width: 100vw;
     height: 100vh;
     background: #23aae2;
     top: 76px;
     left: -100%;
     transition: all .6s;
}
.menu__item {
     list-style-type: none;
     margin-bottom: 3rem;
}
.menu__item:first-child{
     margin-top: -13%;
}
.menu__link {
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
    padding: 1.25rem;
    border-radius: 0.4rem;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.4s ease;
}
a:hover {
    background: rgba(255, 255, 255, 0.24);
    transition: ease 0.5s;
}
 #toggler {
     position: absolute;
     top: 2.5rem;
     right: 2.9rem;
     height: 2.5rem;
     width: 3rem;
     cursor: pointer;
     opacity: 0;
 }
 #toggler:checked ~ .menu__list {
      left: 0;
 }
 .hamburger {
      position: absolute;
      top: 3.5rem;
      right: 3rem;
 }
 .hamburger > div {
     position: relative;
     width: 3rem;
     height: 0.4rem;
     border-radius: 1.5px;
     background-color: rgb(236, 236, 236);
     transition: all 0.4s ease;
}
.hamburger > div:before,
.hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -9px;
    width: 100%;
    height: 4px;
    border-radius: 1.5px;
    background-color: rgb(236, 236, 236);
}
.hamburger > div:after {
    top: 9px;
}
#toggler:checked + .hamburger > div {
     transform: rotate(135deg);
}
#toggler:checked + .hamburger > div:before,
#toggler:checked + .hamburger > div:after {
     top: 0;
     transform: rotate(90deg);
}
#toggler:checked:hover + .hamburger > div {
     transform: rotate(225deg);
}
 
 /* menu end */

/* HEADER */

header {
     text-align: center;
}
h1 {
     font-size: 10vw;
     letter-spacing: 3vw;
     margin-top: 20vh;
     margin-bottom: 1.5vh;
}
.h1 {
     font-size: 7vw;
     letter-spacing: 1.25vw;
}
.header__arrow {
     display: block;
     color: white;
     font-size: 3.2rem;
     height: 1.4em;
     width: 1.4em;
     border: 1px dashed;
     border-radius: 50%;
     line-height: 1.4em;
     text-align: center;
     position: absolute;
     left: 50%;
     bottom: 7%;
     transform: translateX(-50%);
     
}
.header__arrow:hover {
     background: #23aae2;
     transition-duration: 0.5s;
}
.header__arrow:active {
     background: #038fca;
}

/* ADVANTAGES SECTION */

.advantages {
     padding-top: 8.9rem;
}
h2 {                                   
     font-size: 8vw;
     font-weight: 900;
     text-transform: uppercase;
     letter-spacing: 1vw;
     text-align: center;
}
.advantages__title {
     margin-bottom: 6.3rem;
}
.advantages__card {
     background: #f4f4f4;
     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.33);
     text-align: center;
     padding: 14% 8%;
     width: 95%;
     margin: 0 auto 5% auto;
}
.advantages__card_third {
     margin-bottom: 8.5rem;
}
.card__img {
     margin-bottom: 2.5rem;
}
h4 {
     font-size: 2rem;
     font-weight: 900;
} 
.card__title:after {
     content: '';
     display: block;
     width: 3.8rem;
     height: 0.1rem;
     background: #c6c6c6;
     margin: 1.6rem auto 1.9rem auto;
}
.card__text {
     font-size: 1.7rem;
     font-weight: 100;
}

/* BULGARIA SECTION */


.bulgaria {
     background: url(../img/bulgaria-bg.png) no-repeat center / cover;
     padding-top: 8.5rem;
     text-align: center;
}
.bulgaria__italic {
     font-size: 1.8rem;
     font-weight: 100;
     font-style: italic;
     margin-top: 2.9rem;
     margin-bottom: 1.5rem;
}
.bulgaria__text_name {
     font-size: 1.4rem;
     font-weight: 900;
     text-transform: uppercase;
}
.bulgaria__box {
     border: 1px dashed;
     padding: 5.5rem 0.5rem;
     position: relative;
     margin: 5.5rem auto 6.5rem auto;
     width: 96%;
}
.arrow__icon {
     font-size: 1.5rem;
     width: 2.2em;
     height: 2.2em;
     border: 1px dashed;
     border-radius: 50%;
     line-height: 2.2em;
     text-align: center;
}
.arrow__icon_up {
     background: #213646;
     position: absolute;
     top: -1.5rem;
     margin: 0 auto;
     left: 0;
     right: 0;
}
.arrow__icon_down {
     background: #233d53;
     position: absolute;
     bottom: -1.5rem;
     left: 50%;
     transform: translatex(-50%);
}
.bulgaria-box__text_first {
     font-size: 1.9rem;
     font-weight: 100;
     text-transform: uppercase;
     margin-bottom: 1rem;
}
.bulgaria-box__text_second {
     font-size: 2.3rem;
     font-weight: 900;
     text-transform: uppercase;
}
.bulgaria__text_big {
     font-size: 3.7rem;
     font-weight: 900;
     text-transform: uppercase;
     letter-spacing: 0.5rem;
}
.bulgaria__text_last {
     font-size: 1.8rem;
     font-weight: 100;
     margin-top: 1rem;
     margin-bottom: 5rem;
}
.btn {
     font-size: 1.5rem;
     font-weight: 900;
     text-transform: uppercase;
     padding: 1.5333em 2em;
     background: none;
     border: 2px solid;
     border-radius: 0.2666em;
     color: white;
     letter-spacing: 0.1333em;
     cursor: pointer;
     outline: none;
}
.btn_bulgaria {
     margin-bottom: 9rem;
}
.btn_bulgaria:hover {
     background: white;
     color: #142b3f;
     transition-duration: 0.5s;
     border: 2px solid white;
}

/* TRANSPORT SECTION */


.transport {
     background: url(../img/transport-bg.png) no-repeat center / cover;
     text-align: center;
     padding-top: 9rem;
}
.transport__title {
     margin-bottom: 15.5rem;
}
.box-first__wrapper {
     position: relative;
     z-index: 1;
     width: 98%;
     margin-left: auto;
     margin-right: auto;
}
.transport__box_first {
     background: #f4f4f4;
     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.33);
     margin-bottom: 0.9rem;
     position: relative;
     padding: 7.1rem 2.5rem 4.3rem 2.5rem;
}
.transport__img_left {
     position: absolute;
     top: -75px;
     right: 50%;
     transform: translateX(-20px);
     z-index: -1;
}
.transport__img_front {
     position: absolute;
     top: -130px;
     margin: 0 auto;
     left: 0;
     right: 0;
}
.transport__img_right {
     position: absolute;
     top: -65px;
     left: 50%;
     transform: translateX(20px);
     z-index: -1;
}
.box__title {
     margin-bottom: 1.5rem;
}
.transport__box_second {
     background: #f4f4f4;
     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.33);
     position: relative;
     padding: 4.3rem 2.5rem;
     width: 98%;
     margin-left: auto;
     margin-right: auto;
}

.transport__paragraph {
     font-size: 1.7rem;
     font-weight: 100;
}
.transport__icon {
     font-size: 2.6rem;
     color: white;
     width: 2.307em;
     height: 2.307em;
     background: #11b1f4;
     border-radius: 50%;
     line-height: 2.307em;
     text-align: center;
     position: absolute;
     top: -1.25em;
     margin: 0 auto;
     left: 0;
     right: 0;
     z-index: 2;
}
.btn_blue {
     color: #23aae2;
     margin-top: 6rem;
     margin-bottom: 9rem;
}
.btn_blue:hover {
     background: white;
     transition-duration: 0.5s;
}

/* REVIEWS SECTION */

.reviews {
     padding-top: 9rem;
     text-align: center;
     position: relative;
}
.reviews__article {
     box-shadow: 2px 2px 4px rgba(149, 147, 147, 0.33);
     padding: 6rem 3rem 4.5rem 3rem;
     width: 98%;
     margin: 7rem auto 0 auto;
}
.reviews__img {
     display: block;
     margin: 0px auto;
     margin-top: 2rem;
}
.reviews__image_resize {
     height: 132px;
     width: 132px;
}
.reviews__paragraph_name {
     font-size: 1.6rem;
     font-weight: 900;
     text-transform: uppercase;
}
.reviews__link {
     font-size: 1.2rem;
     color: #23aae2;
     text-transform: uppercase;
     font-weight: 900;
     margin-top: 1rem;
     margin-bottom: 0.5rem;
}
.reviews__paragraph_moscow {
     font-size: 1.2rem;
     color: #23aae2;
     font-weight: 300;
     text-transform: uppercase;
}
.reviews__text {
     font-size: 1.4rem;
     font-weight: 100;
     margin-top: 2rem;
}


/* SLIDER STYLES */

.slick-list {
     overflow: hidden;
     padding: 25px 0px;
     width: 75%;
     margin: 0 auto;
}
.slick-track{
     display: flex;
}
.slider {
     margin: 0 auto;
}
.slick-arrow{
     position: absolute;
     top: 50%;
     margin-bottom: 75px;
     transform: translateY(-17%);
     z-index: 10;
     font-size: 0;
     width: 100px;
     height: 150px;  
     border: none;
     outline: none;
     opacity: 0;
}
.slick-arrow.slick-prev{
     left: 3%;
     background: url('../img/left-arrow.svg') 0 0 / 100% no-repeat;
}
.slick-arrow.slick-next{
     right: 3%;
     background: url('../img/right-arrow.svg') 0 0 / 100% no-repeat;
}
.slick-dots{
     display: flex;
     align-items: center;
     justify-content: center;
}
.slick-dots li{
     list-style: none;
     margin: 1% 15px 8% 15px;

}
.slick-dots li.slick-active button{
     background: #23aae2;
     border: 1.5px #23aae2;

}
.slick-dots li button{
     font-size: 0;
     height: 25px;
     width: 25px;
     border: 1.5px dashed #23aae2;
     border-radius: 50%;
     outline: none;
     background: white;
}


/* QUESTIONS SECTION */


.questions {
     background: url(../img/footer-bg.png) no-repeat center / cover;
     padding-top: 8rem;
     text-align: center;
}
.arrow__icon_questions {
     margin: 0 auto;
     margin-bottom: 1.4rem;
}
.questions__paragraph {
     font-size: 2.1rem;
     font-weight: 100;
     text-transform: uppercase;
     margin-top: 3rem;
     margin-bottom: 3rem;
}
.input {
     background: #30c2ff;
     border: 1px solid white;
     border-radius: 3px;
     display: block;
     margin: 0 auto;
     width: 98%;
     padding: 2.8rem 0 2.8rem 3.7rem;
     margin-bottom: 0.9rem;
}
::placeholder {
     color: white;
     text-transform: uppercase;
     font-size: 1.3rem;
     font-weight: 300;
     letter-spacing: 0.3rem;
}
.btn_large {
     width: 98%;
     margin-top: 1.1rem;
     margin-bottom: 5.5rem;
}
.btn_large:hover {
     background: white;
     color: #11b1f4;
     border: 2px solid white;
     transition-duration: 0.5s;
}

/* FOOTER */
footer {
     background: #23aae2;
}
.footer_wrapper {
     display: flex;
     align-items: center;
}
.footer__paragraph {
     font-size: 1.4rem;
     font-weight: 100;
     padding-top: 2px;
     padding-bottom: 2px;
     border-bottom: 1.5px dotted transparent;
}
.footer__paragraph:hover {
     border-bottom: 1.5px dotted;
     transition-duration: 0.5s;
}
.footer__paragraph_first {
     margin-left: auto;
}
.footer__paragraph_second {
     display: none;
}
.footer__phone_wrapper {
     display: none;
}


@media (min-width:768px) {
     
     /* HEADER TABLET*/
     .menu__link {
          font-size: 2rem;
     }
     h2 {
          font-size: 4.2rem;
          letter-spacing: 0.7rem;
     }
     /* ADVANTAGES TABLET */
     
     .advantages__wrapper {
          display: grid;
          row-gap: 2.44%;
          column-gap: 2.44%;
          grid-template-columns: 1fr 1fr;
     }
     .advantages__card {
          margin: 0;
          width: auto;
     }
     .advantages__card_first {
          grid-column: 1/2;
          grid-row: auto;
     }
     .advantages__card_second {
          grid-column: 2/3;
          grid-row: auto;
     }
     .advantages__card_third {
          grid-column: 1/3;
          grid-row: auto;
          padding: 7% 30%;
          margin-bottom: 18%;
     }

     /* TRANSPORT TABLET */

     .box-first__wrapper {
          width: 75%;
     }
     .transport__box_second {
          width: 75%;
     }

     /* REVIEWS TABLET */

     .reviews__article {
          width: 75%;
          text-align: left;
     }
     .reviews__article {
          padding: 4rem 6rem 4rem 6rem;
          margin-top: 6.5rem;
     }
     .names__wrapper {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
     }
     .reviews__paragraph_name {
          margin-right: 2.5rem;
     }
     .reviews__link {
          margin: 0;
     }
     .reviews__paragraph_moscow {
          margin-top: 1rem;
          width: 100%;
     }
     .slick-arrow{
          opacity: 1;
     }

     /* QUESTIONS TABLET */

     .input,
     .btn_large {
          width: 45%;
     }

     /* FOOTER TABLET*/

     .footer_wrapper {
          justify-content: space-between;
          width: 90%;
     }
     .footer__paragraph_first {
          margin: 0;
     }
     .footer__paragraph_second {
          display: block;
     }
     .call__icon {
          font-size: 1.3rem;
          width: 2em;
          height: 2em;
          color: #23aae2;
          border: 1px dashed;
          border-radius: 50%;
          line-height: 2em;
          text-align: center;
          margin-right: 1rem;
          display: block;
     }
     .phone {
          font-size: 1.6rem;
          font-weight: 900;
          text-transform: uppercase;
          letter-spacing: 0.02rem;
          display: block;
          margin-right: 3rem;
     } 
    

@media (min-width:1200px) {
     
     /* FIRST SECTION DESKTOP*/

     .navigation__wrapper {
          display: flex;
          align-items: center;
     }
     /* .menu__list {

          width: 100%;
          height: 100vh;
          background: #23aae2;
          top: 76px;
          left: 0px;
     } */
     .menu__list {
          display: flex;
          flex-direction: row;
          margin-left: auto;
          position: static;
          height: auto;
          width: auto;
          background: none;
     }
     .menu__item {
          margin: 0;
     }
     .menu__item:first-child {
          margin-top: 0;
     }
     .menu__link {
          font-size: 1.3rem;
     }
     #toggler {
          display: none;
     }
     .hamburger {
          display: none;
     }
     .logo__img {
          margin-right: 3em;
     }
     
     /* HEADER DESKTOP*/

     h1 {
          font-size: 9rem;
          letter-spacing: 4rem;
     }
     .h1 {
          font-size: 5.1rem;
          letter-spacing: 1.5rem;
     }

     /* ADVANTAGES DESKTOP */

     .advantages__wrapper {
          grid-template-columns: 1fr 1fr 1fr;
          row-gap: 0;
     }
     .advantages__card {
          margin-bottom: 25%;
     }
     .advantages__card_first {
          grid-column: auto;
     }
     .advantages__card_second {
          grid-column: auto;
     }
     .advantages__card_third {
          grid-column: auto;
          padding: 14% 8%;
     }

     /* BULGARIA DESKTOP */

     .bulgaria__box {
          width: 62%;
     }
     .box-first__wrapper {
          width: 62%;
     }
     .transport__box_second {
          width: 62%;
     }

     /* REVIEWS DESKTOP */

     .names__wrapper {
          flex-wrap: nowrap;
     }
     .reviews__paragraph_name {
          margin-right: 2.5rem;
     }
     .reviews__link {
          margin: 0;
     }
     .reviews__paragraph_moscow {
          margin-top: 0;
          margin-left: auto;
          width: auto;
     }
     .reviews__img {
      margin-right: 2rem;   
     }

     /* QUESTIONS DESKTOP */

     .input,
     .btn_large {
          width: 30%;
     }

     /* FOOTER DESKTOP */

     .footer_wrapper {
          width: 100%;
          justify-content: auto;
     }
     .footer__phone_wrapper {
          display: flex;
          align-items: center;
     }
     .call__icon_footer {
          color: white;
     }